body {
    margin: 0;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.header{
    background-color: lightsteelblue;
    lightsteelblue
    color:#002D56;
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-style:italic;
    font-size: xx-large;
    font-weight: bold;
}

.color-primary {
    color:floralwhite;
}

.color-secondary {
    color:lightsteelblue;
}

.color-hufs {
    color:#002D56;
}


.font-50 {
    font-size: 50px;
}


.text-basic {
    color: lightsteelblue;
    font-size: x-large;
    font-weight: bold;
}


.text-justfont {
    font-size: x-large;
    font-weight: bold;
}


.circle-photo {
    border: 1px solid lightsteelblue;
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.wireframe {
    width:500px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:650px;
    width:500px;
    background:floralwhite;
}

.item {
    color:#002D00;
    font-weight: bold;
    padding: 20px;
    border:3px solid #002D56;
}

.main {
    height: 500px;
    width:500px;
  }


.layout-l, .layout-r {
    width: 50%;
    height: 100%;
    border: 3px solid #002D56;
}

.layout-l {
    float: left;
}

.layout-r {
    float: right;
}

.main:after {
    content: '';
    display: block;
    clear: both;
}